# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Prisma SQLite database file
prisma/dev.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
